@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/webfonts/fa-brands-400.ttf");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header section start here.... */

header {
  background: color #05190a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: white;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

header .navigation ul {
  float: right;
  margin-right: 20px;
}

header .navigation ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

header .navigation ul li a {
  position: relative;
  font-size: 1.1em;
  color: #05190a;
  text-decoration: none;
  font-weight: bold;
  margin-left: 40px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

header .navigation ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transform-origin: 50% 50%;
  transform: scaleX(0);
  transition: transform 0.5s;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  background: linear-gradient(to right, #05190a, #05190a);
}

header .navigation ul li a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

header .navigation ul li .btnLogin {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #05190a;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #05190a;
  font-weight: bold;
  margin-left: 40px;
  text-transform: uppercase;
}

header .navigation ul li .btnLogin:hover {
  background-color: #2196f3;
  color: #fff;
  font-weight: bold;
  transition: cubic-bezier(255, 255, 255, 01.5em);
}

ul li a.active,
ul li a:hover {
  background-color: #fff;
  transition: 0.5s;
}

.check_btn {
  font-size: 25px;
  color: white;
  float: left;
  line-height: 50px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 858px) {
  .check_btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 50%;
    height: 70vh;
    background: #2c5038;
    top: 100px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    border: 2px solid #c9c8c8;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  header .navigation ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  header .navigation ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* header section end here..... */

/* Home section start here.... */

/* Home section 1 start here..... */

.Home1 {
  margin-top: 90px;
}

.Home_up {
  height: 500px;
  border-radius: 8px;
  background: #2196f3;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#home_h_p h1 {
  font-size: 50px;
}

#home_h_p p {
  margin-top: 15px;
  font-size: 18px;
}

.div_btn {
  margin-top: 15px;
}

.btn_home {
  height: 50px;
  background: transparent;
  border: 2px solid #05190a;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #05190a;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.home_image img {
  border-radius: 8px;
}

/* home section 1 end here..... */

/* Home section 2 start here.... */

.about_meetme {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #e1f9f9;
}

.about_mtme {
  justify-items: center;
}

.about_mtme h1 {
  font-size: 50px;
}

.about_mtme p {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

.why_choose_box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.availabl img {
  width: 80px;
  height: 80px;
  padding-bottom: 20px;
}

.availabl {
  border-radius: 10px;
  background: #d8f3ee;
  width: 350px;
  height: 300px;
  padding-top: 65px;
  text-align: center;
}

.availabl h1 {
  padding-bottom: 10px;
}

/* home section 2 end here.... */

/* Home section 3 start here... */

.about_doctor {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #a5d6d6;
}

.about_doc {
  justify-items: center;
}

.doctor_available img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -100px;
  margin-bottom: 40px;
}

.about_doc h1 {
  font-size: 50px;
}

.about_doc p {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

.doctor_box {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.doctor_available {
  border-radius: 10px;
  background: #b8e5ee;
  width: 350px;
  height: 300px;
  padding-top: 65px;
  text-align: center;
}

/* home section 3 end here.... */

/* Home section 4 start here.... */

/* home section 4 end here.... */

/* Home section 5 start here...... */

.Ai_section {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #c3f1f1;
}

.Ai_header {
  justify-items: center;
}

.Ai_header h1 {
  font-size: 50px;
}

.Ai_header p {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

/* home section 5 end here...... */

/* Home section 6 start here.... */

.client-reviews {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #eef3f3;
}

.Reviews_header {
  justify-content: center;
  text-align: center;
}

.Reviews_header h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

.Reviews_div {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.Reviews_box {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  background: #ecf5f5;
  text-align: center;
}

.Reviews_box h1 {
  font-size: 25px;
  padding-bottom: 8px;
  padding-top: 20px;
}

.Reviews_box p {
  font-size: 15px;
  padding-bottom: 8px;
}

.Reviews_box img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -45px;
}

/* home section 6 end here....... */

/* Home section end here....... */

/* About section start here.... */

/* About section 1 start here....  */

.about-sec-1 {
  margin-top: 90px;
  width: 1700px;
  height: 580px;
  background-image: url(Images/image-18.jpg);
  background-size: cover;
  border-radius: 9px;
}

.abot-sec-1 {
  padding-top: 250px;
  padding-left: 150px;
}

.abot-sec-1 h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

.abot-sec-1 p {
  font-size: 35px;
}

/* about section 1 end here.... */

/* About section 2 start here.... */

.about-sec-2 {
  margin-top: 60px;
  width: 1700px;
  height: 580px;
  background-image: url(Images/image-20.png);
  background-size: cover;
  border-radius: 9px;
}

.abt-sec-2 {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.abt-sec-2-1 h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

.abt-sec-2-1 h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

.abt-sec-2-1 p {
  font-size: 20px;
}

.abt-sec-2-2 {
  margin-top: -80px;
}

.abt-sec-2-2-1 {
  display: flex;
  padding-bottom: 20px;
}

.abt-sec-2-2-box {
  border-radius: 8px;
  width: 250px;
  height: 250px;
  background-color: #c9c8c8;
  margin-right: 20px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 50px;
}

.abt-sec-2-2-box img {
  width: 70px;
  height: 70px;
  padding-top: 10px;
}

.abt-sec-2-2-box h1 {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.abt-sec-2-2-box p {
  font-size: 15px;
}

/* about section 2 end here..... */

/* About section 3 start here... */

.about-sec-3 {
  margin-top: 60px;
  width: 1700px;
  height: 600px;
  background: #dfe1e0;
  border-radius: 9px;
}

.abt-sec-3-text {
  justify-items: center;
  padding-top: 65px;
}

.abt-sec-3-text h1 {
  font-size: 45px;
  text-align: center;
  padding-bottom: 20px;
}

.abt-sec-3-text p {
  text-align: center;
  font-size: 20px;
}

.abt-sec-3-box {
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
}

.abt-sec-3-box-text {
  width: 300px;
  height: 250px;
  background-color: #afb3b1;
  border-radius: 8px;
  text-align: center;
}

.abt-sec-3-box-text img {
  width: 70px;
  height: 70px;
  padding-top: 40px;
}

.abt-sec-3-box-text h1 {
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.abt-sec-3-box-text p {
  font-size: 15px;
}

/* about section 3 end here..... */

/* About section 4 start here.... */

.about-sec-4 {
  margin-top: 60px;
  width: 1700px;
  height: 580px;
  background: #dfe1e0;
  border-radius: 9px;
}

.abt-sec-4 {
  text-align: center;
  padding-top: 55px;
}

.abt-sec-4 h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

.join_us_div {
  display: flex;
  justify-content: space-around;
}

.join_us_box {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  background: #f0f7f4;
  text-align: center;
  margin-top: 100px;
}

.join_us_box img {
  width: 70px;
  height: 70px;
  padding-top: 30px;
}

.join_us_box h1 {
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 45px;
}

/* about section 4 end here.... */

/* about section end here.... */

/* Doctor section start here..... */

/* Doctor section 1 start here..... */

.doctor-sec-1 {
  margin-top: 90px;
  width: 1700px;
  height: 580px;
  background: #dfe1e0;
  border-radius: 9px;
}

.doct-sec-1 {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.doct-sec-1-1 {
  padding-top: 180px;
  padding-left: 200px;
}

.doct-sec-1-1 h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

.doct-sec-1-1 p {
  font-size: 20px;
  padding-bottom: 20px;
}

.doct-sec-1-1 button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.doct-sec-1-2 {
  height: 590px;
  padding-right: 5px;
}

.doct-sec-1-2 img {
  border-radius: 8px;
}

/* doctor section 1 end here..... */

/* Doctor section 2 start here.... */

.doctor-sec-2 {
  margin-top: 60px;
  width: 1700px;
  height: 580px;
  background-image: url(Images/image16.png);
  background-size: cover;
  border-radius: 9px;
}

.doct-sec-2 {
  justify-items: center;
  padding-top: 200px;
}

.doct-sec-2 h1 {
  font-size: 45px;
  padding-bottom: 20px;
}

.doct-sec-2 p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.doct-sec-2 button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

/* doctor section 2 end here.... */

/* doctor section 3 start here.... */

.doctor-sec-3 {
  margin-top: 60px;
  width: 1700px;
  height: 580px;
  background: #dfe1e0;
  border-radius: 9px;
}

.doct-sec-3 {
  justify-items: center;
  padding-top: 55px;
}

.doct-sec-3 h1 {
  font-size: 45px;
}

.dcot-sec-3-1-1 {
  display: flex;
  justify-content: space-around;
}

.doct-sec-3-1 {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  background: #f6f3f3;
  margin-top: 65px;
}

.doct-sec-3-1 img {
  width: 120px;
  height: 120px;
  margin-top: -30px;
  border-radius: 55%;
  margin-bottom: 35px;
  margin-left: 80px;
}

.doct-sec-3-1 h1 {
  padding-bottom: 20px;
  text-align: center;
}

.doct-sec-3-1 p {
  padding-bottom: 20px;
  text-align: center;
}

/* doctor section 3 end here.... */

/* doctor section 4 start here... */

.doctor-sec-4 {
  margin-top: 60px;
  width: 1700px;
  height: 580px;
  background: #afb3b1;
  border-radius: 9px;
}

.doct-sec-4 {
  display: flex;
  justify-content: space-around;
  padding-top: 165px;
}

.doct-sec-4-1 h1 {
  font-size: 45px;
  padding-bottom: 35px;
}

.doct-sec-4-1 button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
}

.doct-sec-4-2 {
  margin-left: -130px;
}

.doct-sec-4-2 h1 {
  font-size: 30px;
  padding-bottom: 25px;
}

.doct-sec-4-2 p {
  font-size: 20px;
  margin-top: -20px;
}

/* doctor section 4 end here.... */

/* doctor section end here....... */

/* Services section start here...... */

/* service section 1 start here.... */

.services-1 {
  background: #bef0f0;
  margin-top: 90px;
  padding-top: 45px;
  width: 1700px;
  height: 580px;
  border-radius: 10px;
}

.service_div {
  display: flex;
  justify-content: space-between;
}

.service-img img {
  width: 650px;
  height: 580px;
  border-radius: 8px;
  margin-top: -44px;
}

.sect-1 {
  padding-left: 150px;
  padding-top: 50px;
}

.sec-1-1 h1 {
  font-size: 20px;
}

.sec-1-1 p {
  font-size: 15px;
}

.sec-1-2 h1 {
  padding-top: 35px;
  font-size: 45px;
}

.sec-1-2 p {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* service section 1 end here..... */

/* service section 2 start here...... */

.service-2 {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 580px;
  border-radius: 10px;
  background: #f1f4f4;
}

.sect-2 {
  display: flex;
  justify-content: space-around;
}

.sec-2-1 img {
  height: 500px;
  width: 450px;
  border-radius: 8px;
}

.sec-2-2 {
  padding-right: 200px;
}

.sec-2-2 h1 {
  padding-top: 35px;
  font-size: 45px;
}

.sec-2-2 p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

/* service section 2 end here.....*/

/* service section 3 start here... */

.service-3 {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 650px;
  border-radius: 10px;
  background: #c99e03;
}

.sec-3-1 {
  justify-items: center;
}

.sec-3-1 h1 {
  font-size: 45px;
}

.sec-3-2 {
  padding-top: 65px;
  display: flex;
  justify-content: space-around;
}

.sect-3 {
  display: grid;
}

.sect-3 img {
  width: 450px;
  height: 350px;
  border-radius: 8px;
  margin-bottom: 25px;
}

.sect-3 button {
  font-size: 25px;
  border-radius: 25px;
  height: 80px;
  width: 450px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
}

/* service section 3 end here.... */

/* service section 4 start here.... */

.service-4 {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #eed889;
}

.ser-4-1 {
  justify-items: center;
}

.ser-4-1 h1 {
  font-size: 55px;
  padding-bottom: 40px;
}

.ser-4-2 {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.sect-4 h1 {
  padding-bottom: 30px;
}

.sect-4 p {
  padding-bottom: 35px;
}

.sect-4 button {
  font-size: 25px;
  border-radius: 25px;
  height: 60px;
  width: 200px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
}

/* service section 4 end here.... */

/* service section 5 start here.... */

.service-5 {
  margin-top: 60px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background: #e4be6b;
}

.ser-5 {
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

.ser-5-1 h1 {
  font-size: 40px;
  padding-bottom: 25px;
}

.ser-5-1 p {
  padding-bottom: 25px;
}

.ser-5-2 {
  margin-top: -18px;
}

/* service section 5 end here.... */

/* service section 6 start here..... */

.service-6 {
  margin-top: 60px;
  width: 1700px;
  height: 600px;
  border-radius: 10px;
  background: #c48807;
}

.sec-6-1 {
  background-image: url(Images/image-7.png);
  width: 1700px;
  height: 300px;
  background-size: cover;
  border-radius: 8px;
}

.sec-6-1 {
  padding-top: 120px;
  padding-left: 80px;
}

.sec-6-1 h1 {
  font-size: 25px;
}

.sec-6-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.sec-6-2-1 h1 {
  font-size: 45px;
}

.sec-6-2-3 h1 {
  font-size: 25px;
  padding-bottom: 15px;
}

/* service section 6 end here..... */

/* Service section end here..... */

/* Contact section start here */

/* contact section 1 start here */

.contact-sec-1 {
  margin-top: 90px;
  padding-top: 45px;
  width: 1700px;
  height: 550px;
  border-radius: 10px;
  background-image: url(Images/image-13.png);
  background-size: cover;
}

.cont-sec-1 {
  padding-top: 200px;
  padding-left: 150px;
}

.cont-sec-1 h1 {
  font-size: 60px;
  padding-bottom: 15px;
}

.cont-sec-1 p {
  font-size: 20px;
}

/* contact section 1 end here */

/* Contac section 2 start here */

.contact-sec-2 {
  margin-top: 60px;
  width: 1700px;
  height: 600px;
  border-radius: 10px;
  background: #e9c6f3;
}

.cont-sec-2 {
  justify-items: center;
  padding-top: 80px;
}

.cont-sec-2 h1 {
  font-size: 45px;
  padding-bottom: 10px;
}

.cont-sec-2 p {
  text-align: center;
  font-size: 15px;
}

.cont-sec-2-1 {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.cont-sec-2-2 {
  width: 300px;
  height: 250px;
  border-radius: 8px;
  background: #e5eeec;
  text-align: center;
  padding-top: 90px;
}

.cont-sec-2-2 p {
  padding-top: 15px;
}

.cont-sec-2-2 img {
  width: 70px;
  height: 70px;
  margin-top: -40px;
}

/* contact section 2 end here */

/* contact section end here */

/* Home section end here..... */

/* meet me DoCt start here....  */

.LiveDoct {
  color: #05190a;
  user-select: none;
  font-size: 25px;
  line-height: 50px;
  padding: 0 10px;
  font-weight: bold;
}

.cover_box {
  margin-top: 220px;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid #c9c8c8;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  overflow: hidden;
  transition: transform 0.5s ease, height 0.2s ease, border-color 0.5s ease;
}

.cover_box:hover {
  border-color: #fff;
  animation: border-glow 1s infinite alternate;
}

@keyframes border-glow {
  frcm {
    border-color: #f6f8f6;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  to {
    border-color: #ffffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

.cover_box.active-popup {
  transform: scaleX(1);
}

.cover_box.active {
  height: 520px;
}

.cover_box .form_box {
  width: 100%;
  padding: 40px;
}

.cover_box .form_box.login {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.cover_box.active .form_box.login {
  transition: none;
  transform: translateX(-400px);
}

.cover_box .form_box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.cover_box.active .form_box.register {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.cover_box .icon_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  background: #05190a;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.cover_box .icon_close:hover {
  background-color: red;
}

.form_box h2 {
  font-size: 2em;
  color: #05190a;
  text-align: center;
}

.input_box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input_box label {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateX(-45%);
  font-size: 1em;
  color: #05190a;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label {
  top: -10px;
}

.input_box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #05190a;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  color: #05190a;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input_box .icon {
  position: absolute;
  right: 8%;
  font-size: 1.2em;
  color: #05190a;
  line-height: 57px;
}

.remember_forgot {
  font-size: 0.9em;
  color: #05190a;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember_forgot label input {
  accent-color: #05190a;
  margin-right: 3px;
  cursor: pointer;
}

.remember_forgot a {
  color: #05190a;
  text-decoration: underline;
}

.remember_forgot a {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #05190a;
  border: none;
  outline: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.btn:hover {
  background-color: #2196f3;
}

.login_register {
  font-size: 0.9em;
  color: #9a9a9a;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login_register p a {
  color: #9a9a9a;
  text-decoration: none;
  font-weight: 500;
}

.login_register p a:hover {
  text-decoration: underline;
}

/* footer section style start here

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color:#05190a;
  padding: 10px 0;
  text-align: center;
  background-color: white;
  opacity: 80%;
}

.footer_content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 10px;
}

.social_icon a {
  color: #05190a;
  font-size: 1.5em;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer_content p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.social_icon a:hover {
  color:#2196f3;
} */

/* javaScript connection here... */

section {
  display: none;
}

section.active {
  display: block;
}
